.nav{
    display: flex;
    justify-content:space-between;
    max-width: 1200px;
    margin: auto;
    
}
.logo{
    height: 24px;
    width: auto;
}
.list{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #575757;

}
.button{

    background-color: blue;
    color:white;
    font-weight: bold;
    border-radius: 12px;
    padding: 12px 12px;
    border: none;
}