 /* nav section */
.nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}
.logo{
    height: 35px;
    width: auto;
    gap: 10px;
}
.list{
    display: flex;
    list-style: none;
    gap: 20px;
    color: #575757;

}
.button{

    background-color: blue;
    color:white;
    font-weight: bold;
    border-radius: 12px;
    padding: 12px 12px;
    border: none;
}
.hero{
    background-image: url(./assets/banner.jpg);
    background-color: #1a1919;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1{
    font-size: 80px;
    font-weight: bold;
    color: white;
}
.hero p{
    color:#FFFFFF;
    width: 500px;
    font-size: 20px;
}
.hero .button{
    margin-top: 30px;
    
}
.center{
    font-size: 900;
    font-weight: bold;
    text-align: center;
    border: #FFFFFF;
    padding: 10px;
}
.speakers{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}
.category{
    color: blue;
}
.speaker-card{
    border-radius: 60px;
    padding: 60px;
    border-color: #575757;
}
.pricing-head{
    text-align: center;
    font-weight: bold;
    border: #FFFFFF;
    gap: 10px;
}
.pricing-p{
    color: #575757;
    font-size: small;
    text-align: center;
}
.pricing{
    display: flex;
    justify-content: space-between;
    padding:30px;
    gap: 10px;
}
.pricing1 .button1{
    color: blue;
    border-color: #1a1919;
    background-color: white;
    padding: 20px;
    border-radius:20px;
    text-align: center;
}
.pricing3 .button3{
    color: #575757;
    border-color: #575757;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
.pricing1 .pricing3{
    border-color:#1a1919;
    padding: 30px;
    border-radius: 30px;
}
.pricing2{
    background-color:rgb(11, 11, 34);
    color: white;
    padding:30px;
    border-radius: 30px;
}
.bold-color{
    font-weight: bold;
    font-size: 700;
}
.footer{
    background-color: rgb(3, 3, 31);
    color: azure;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 0;
}
.list{
    list-style: none;
    border: 20px;
    padding: 20px;
}
.footer p{
    color:azure;
    border: 20px;
    padding:20px;
}